body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-top: dotted;
  height: 80px;
}

textarea:last-child {
  border-bottom: dotted;
}

span {
  border-top: dotted;
  border-right: solid;
  border-color: black;
  padding: 15px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  margin-bottom: 5px;
}

.saveBtn {
  color: black;
  background-color: #06aed5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.saveBtn:hover {
  background-color: rgb(7, 62, 124) !important;
  color: white;
}

.no-color {
  background-color: white !important;
}
